body {

  background-image: url('./assets/porta2.jpg'); /* Ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Tamaño del contenedor, en este caso, altura completa de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}